<% include ../partials/header.ejs %>
        <script>
            if(localStorage.getItem('user') == 'admin'){}
            else
                location.href = "/"
        </script>
        <!-- Body -->
        <div class="container" style="margin-top: 3em;">
            <div class="row" >
                <div class="col card" style="margin-right: 1.5em; padding-bottom: 2em; padding-top: 1em;">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Tipo de producto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i = 0; i < rows.length; i++ ){ %>
                        <tr onclick='selectCliente( <%- JSON.stringify(rows[i]) %>)'>
                          <td><%= i+1 %></td>
                          <td><%= rows[i].Nombre %></td>
                          <td><%= rows[i].Marca %></td>
                          <td><%= rows[i].Tipo_Producto %></td>

                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
                <div class="col card" style="margin-left: 1.5em; padding-bottom: 2em; padding-top: 1em;">
                    <form action="/admin/producto" method="post">
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Nombre">Nombre</label>
                            <input type="text" class="form-control" id="Nombre" placeholder="Nombre" name="Nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Marca">Marca</label>
                            <input type="text" class="form-control" id="Marca" placeholder="Marca" name="Marca">
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="Descripcion">Descripción</label>
                        <input type="text" class="form-control" id="Descripcion" placeholder="Camara de video 4k..." name="Descripcion">
                        </div>
                        <div class="form-group">
                        <label for="urlImage">Url de la imagen</label>
                        <input type="text" class="form-control" id="urlImage" placeholder="http://.../...png" name="urlImage">
                        </div>
                        <div class="form-group col-md-4">
                                <label for="Tipo_Producto">Tipo de producto</label>
                                <select id="Tipo_Producto" class="form-control" name="Tipo_Producto">
                                <option selected>Choose...</option>
                                <option>Camara</option>
                                <option>Lentes</option>
                                <option>Tripies</option>
                                <option>Accesorios</option>
                                </select>
                            </div>
                        <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="Precio_May">Precio mayoreo</label>
                            <input type="text" class="form-control" id="Precio_May" name="Precio_May">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Precio_Min">Precio minoria</label>
                            <input type="text" class="form-control" id="Precio_Min" name="Precio_Min">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="Existencias">Existencias</label>
                            <input type="text" class="form-control" id="Existencias" name="Existencias">
                        </div>
                        </div>
                        <center>
                        <button type="button" class="btn btn-primary" onclick="agregar()" >Agregar</button>
                        <button type="button" class="btn btn-primary" onclick="editar()" >Editar</button>
                        <button type="button" class="btn btn-danger" onclick="eliminar()">Eliminar</button>
                        </center>
                  </form>
                </div>
            </div>
        </div>
        <!-- Footer -->

        <script type="text/javascript">
          var id;
          var eliminar = function(){
            location.href = "/admin/producto/delete/" + id
          }

         var editar = function(){
          const url = "/admin/producto/update"
              const params = {
                headers: {
                  "Content-type": "application/x-www-form-urlencoded"
                },
                body: "_id="+ id +"&Nombre="+ document.getElementById("Nombre").value +"&Marca="+ document.getElementById("Marca").value+"&Existencias="+ document.getElementById("Existencias").value +"&Precio_May="+document.getElementById("Precio_May").value+"&Precio_Min="+ document.getElementById("Precio_Min").value +"&Descripcion="+ document.getElementById("Descripcion").value +"&Tipo_Producto="+ document.getElementById("Tipo_Producto").value+"&urlImage="+ document.getElementById("urlImage").value,
                method: 'POST'
              }

              fetch(url, params)

           /*var xhttp = new XMLHttpRequest()
              xhttp.open("POST", "/admin/producto/update", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send("_id="+ id +"&Nombre="+ document.getElementById("Nombre").value +"&Marca="+ document.getElementById("Marca").value+"&Existencias="+ document.getElementById("Existencias").value +"&Precio_May="+document.getElementById("Precio_May").value+"&Precio_Min="+ document.getElementById("Precio_Min").value +"&Descripcion="+ document.getElementById("Descripcion").value +"&Tipo_Producto="+ document.getElementById("Tipo_Producto").value+"&urlImage="+ document.getElementById("urlImage").value);
              xhttp.abort()*/

              location.href = "/admin/products"
              
        }

          var selectCliente = function(User){
            id = User._id
            document.getElementById("Nombre").value = User.Nombre
            document.getElementById("Marca").value = User.Marca
            document.getElementById("Existencias").value = User.Existencias
            document.getElementById("Precio_May").value = User.Precio_May
            document.getElementById("Precio_Min").value = User.Precio_Min
            document.getElementById("Descripcion").value = User.Descripcion
            document.getElementById("Tipo_Producto").value = User.Tipo_Producto
            document.getElementById("urlImage").value = User.urlImage

          }


           var isValid = []
 
          bootstrapValidate("#Nombre", 'required:Te falto este', function(valid){isValid[0] = valid})
          bootstrapValidate("#Marca", 'required:Te falto este',  function(valid){isValid[1] = valid})
          bootstrapValidate("#Existencias", 'integer:Solo numeros',  function(valid){isValid[2] = valid})
          bootstrapValidate("#Precio_May", 'integer:Solo numeros',  function(valid){isValid[3] = valid})
          bootstrapValidate("#Precio_Min", 'integer:Solo numeros',  function(valid){isValid[4] = valid})
          bootstrapValidate("#Tipo_Producto", 'required:Te falto este',  function(valid){isValid[5] = valid})
          bootstrapValidate("#urlImage", 'url:Usa un url valido',  function(valid){isValid[6] = valid})


          function agregar(){
            if(isValid[0] && isValid[1] && isValid[2] && isValid[3] && isValid[4] && isValid[5] && isValid[6])
            {
              const url = "/admin/producto"
              const params = {
                headers: {
                  "Content-type": "application/x-www-form-urlencoded"
                },
                body:"Nombre="+ document.getElementById("Nombre").value +"&Marca="+ document.getElementById("Marca").value+"&Existencias="+ document.getElementById("Existencias").value +"&Precio_May="+document.getElementById("Precio_May").value+"&Precio_Min="+ document.getElementById("Precio_Min").value +"&Descripcion="+ document.getElementById("Descripcion").value +"&Tipo_Producto="+ document.getElementById("Tipo_Producto").value+"&urlImage="+ document.getElementById("urlImage").value,
                method: 'POST'
              }

              fetch(url, params)

              /*var xhttp = new XMLHttpRequest()
              xhttp.open("POST", "/admin/producto", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send("Nombre="+ document.getElementById("Nombre").value +"&Marca="+ document.getElementById("Marca").value+"&Existencias="+ document.getElementById("Existencias").value +"&Precio_May="+document.getElementById("Precio_May").value+"&Precio_Min="+ document.getElementById("Precio_Min").value +"&Descripcion="+ document.getElementById("Descripcion").value +"&Tipo_Producto="+ document.getElementById("Tipo_Producto").value+"&urlImage="+ document.getElementById("urlImage").value);
              xhttp.abort()*/

              location.href = "/admin/products"
            }
            else
            Toast.fire({
                  type: 'error',
                  title: 'Todos los campos deben estar correctos o el producto ya existe'
                })

          }
          
        </script>
<% include ../partials/footer.ejs %>
