<% include ../partials/header.ejs %>
<script>
    if(localStorage.getItem('user') =! "admin" || localStorage.getItem('user') =! "admin1")
      location.href = "/login"
  </script> 
        <!-- Body -->
        <div class="container" style="margin-top: 3em;">
            <div class="row" >
                <div class="col card" style="margin-right: 1.5em; padding-bottom: 2em; padding-top: 1em;">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Empresa</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i = 0; i < rows.length; i++ ){ %>
                        <tr onclick='selectCliente( <%- JSON.stringify(rows[i]) %>)'>
                          <td><%= i+1 %></td>
                          <td><%= rows[i].Nombre %></td>
                          <td><%= rows[i].Telefono %></td>
                          <td><%= rows[i].Email %></td>
                          <td><%= rows[i].Empresa %></td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
                <div class="col card" style="margin-left: 1.5em; padding-bottom: 2em; padding-top: 1em;">
                  <form action="/admin/proveedor" method="post">
            <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Nombre">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" placeholder="Nombre" name="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Empresa">Empresa</label>
                        <input type="text" class="form-control" id="Empresa" placeholder="Empresa" name="Empresa">
                    </div>
                    </div>
                    <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="text" class="form-control" id="Email" placeholder="Email" name="Email">
                            </div>
                    <div class="form-group">
                    <label for="Marca">Marca</label>
                    <input type="text" class="form-control" id="Marca" placeholder="Marca" name="Marca">
                    </div>
                    <div class="form-group">
                    <label for="Direccion">Direccion</label>
                    <input type="text" class="form-control" id="Direccion" placeholder="Apartment, studio, or floor" name="Direccion">
                    </div>

                    <label for="Fecha_Surte">Fecha surte</label>
                    <input type="date" class="form-control" id="Fecha_Surte" name="Fecha_Surte">
                    <br>

                    <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Telefono">Telefono</label>
                        <input type="text" class="form-control" id="Telefono" name="Telefono">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Tipo_Producto">Tipo producto</label>
                        <input type="text" class="form-control" id="Tipo_Producto" name="Tipo_Producto">
                    </div>
                    </div>

                    <center>
                      <button type="button" class="btn btn-primary" onclick="agregar()">Agregar</button>
                      <button type="button" class="btn btn-primary" onclick="editar()">Editar</button>
                      <button type="button" class="btn btn-danger" onclick="eliminar()">Eliminar</button>
                    </center>
                  </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        var id = null
        var eliminar = function(){
          location.href = "/admin/proveedor/delete/" + id
        }
        var editar = function(){
          var xhttp = new XMLHttpRequest()
              xhttp.open("POST", "/admin/proveedor/update", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send("_id="+ id +"&Nombre="+ document.getElementById("Nombre").value+ "&Empresa="+ document.getElementById("Empresa").value +"&Email="+ document.getElementById("Email").value+"&Direccion="+ document.getElementById("Direccion").value +"&Telefono="+document.getElementById("Telefono").value +"&Fecha_Surte="+ document.getElementById("Fecha_Surte").value +"&Tipo_Producto="+ document.getElementById("Tipo_Producto").value +"&Marca="+ document.getElementById("Marca").value);
              xhttp.abort()

              location.href = "/admin/providers"
              
        }

          var selectCliente = function(User){
            id = User._id
            document.getElementById("Nombre").value = User.Nombre
            document.getElementById("Empresa").value = User.Empresa
            document.getElementById("Email").value = User.Email
            document.getElementById("Direccion").value = User.Direccion
            document.getElementById("Telefono").value = User.Telefono
            document.getElementById("Fecha_Surte").value = User.Fecha_Surte
            document.getElementById("Tipo_Producto").value = User.Tipo_Producto
            document.getElementById("Marca").value = User.Marca
          }

          var isValid = []

          bootstrapValidate("#Nombre", 'alpha:Solo puedes usar letras', function(valid){isValid[0] = valid})
          bootstrapValidate("#Email", 'email:Ingresa un email valido',  function(valid){isValid[1] = valid})
          bootstrapValidate("#Telefono", 'integer:Solo numeros',  function(valid){isValid[2] = valid})
          bootstrapValidate("#Telefono", 'max:10:Maximo 10 digitos',  function(valid){isValid[3] = valid})
          bootstrapValidate("#Empresa", 'required:Te falto este',  function(valid){isValid[4] = valid})
          bootstrapValidate("#Fecha_Surte", 'required:Te falto este',  function(valid){isValid[5] = valid})
          bootstrapValidate("#Tipo_Producto", 'required:Te falto este',  function(valid){isValid[6] = valid})
          bootstrapValidate("#Marca", 'required:Te falto este',  function(valid){isValid[7] = valid})
          

          function agregar(){
            if(isValid[0] && isValid[1] && isValid[2] && isValid[3] && isValid[4] && isValid[5] && isValid[6] && isValid[7])
            {
              var xhttp = new XMLHttpRequest()
              xhttp.open("POST", "/admin/proveedor", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send("Nombre="+ document.getElementById("Nombre").value+ "&Empresa="+ document.getElementById("Empresa").value +"&Email="+ document.getElementById("Email").value+"&Direccion="+ document.getElementById("Direccion").value +"&Telefono="+document.getElementById("Telefono").value +"&Fecha_Surte="+ document.getElementById("Fecha_Surte").value +"&Tipo_Producto="+ document.getElementById("Tipo_Producto").value +"&Marca="+ document.getElementById("Marca").value);
              xhttp.abort()

              location.href = "/admin/providers"
            }
            else
            Toast.fire({
                  type: 'error',
                  title: 'Todos los campos deben estar correctos o el usuario ya existe'
                })

          }
        </script>
        <!-- Footer -->
<% include ../partials/footer.ejs %>
